body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333333;
    background-color: #ffffff;
    width: 100%; 
       
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    color: #333333;
}

.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}
/* HEADER */

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__top{
    background-color: #333333;
        -webkit-clip-path:polygon(0 0, 100% 0, 100% 100%, 2.5% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 2.5% 100%);
    position: fixed;
    /*width: 1025px;*/
    right: 0px;
    top: 0px;
  
    
}

.header__top_container{
    display: flex;
    justify-content: flex-end;
    padding: 0 5px 0 0;
    margin: 0 100px 0 0;
}

.header__top_item{
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin-left: 45px;
    opacity: .75;
    transition: .3s;
}

.header__top_item:first-child{
    margin-left: 160px;
}

.header__top_item:nth-child(2){}

.header__top_item:hover{
    opacity: 1;
    font-weight: 500;
    cursor: default;
}

.header__top_item p{
    margin: 8px 0;
}

.header__bottom{
    top: 0;
    background-color: #e5e5e5;
}

.header__bottom_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*height: 70px;*/
}

.header__bottom_container h2{
    position: relative;
    left: -5px;
    font-size: 27px;
    color: #333333;
}

.header__logo img{
    max-width: 100%;
    height: 70px;
}

.header__list {
    display: flex;
    margin: 0;
}
.header__list li {
    list-style: none;
    padding: 40px 0 8px 0;
    margin: 0 0 0 70px;
    font-size: 18px;
    text-transform: uppercase;
}
.header__list li:nth-child(4){
    margin: 0 120px 0 70px;
}

.header__list li a{
    text-decoration: none;
    color: inherit;
    transition: .3s;
}

.header__list li a:hover{
    text-decoration: underline;
    color: #008136;
    font-weight: 500;
}


